# Python cache
__pycache__/
*.pyc

# Virtual environments only
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# RL outputs
runs/
checkpoints/
wandb/

# Models
*.pt
*.pth

# Logs
*.log